n8n/workflows/shift-report.json
{
  "name": "Galan HMW - Generador de Reportes de Turno con IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shift-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Webhook - Cierre de turno",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 2,
      "webhookId": "shift-report"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://galan-ops-monitor.vercel.app/api/dashboard",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000002",
      "name": "Datos de produccion",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 200],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://galan-ops-monitor.vercel.app/api/alertas",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000003",
      "name": "Alertas del turno",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 420],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000004",
      "name": "Consolidar datos",
      "type": "n8n-nodes-base.merge",
      "position": [740, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst dashboard = items[0]?.json || {};\nconst alertasData = items[1]?.json || {};\n\nconst webhookData = $('Webhook - Cierre de turno').first().json.body || {};\nconst turno = webhookData.turno || 'manana';\nconst supervisor = webhookData.supervisor || 'No especificado';\n\nconst kpis = dashboard.kpis || {};\nconst meteo = dashboard.meteo || {};\nconst seguridad = dashboard.seguridad || {};\nconst alertas = Array.isArray(alertasData) ? alertasData : (alertasData.alertas || []);\n\nconst contexto = {\n  turno,\n  supervisor,\n  fecha: new Date().toISOString().split('T')[0],\n  produccion: {\n    produccion_hoy_ton: kpis.produccion_hoy_ton || 0,\n    produccion_mes_ton: kpis.produccion_mes_ton || 0,\n    target_mes_ton: kpis.target_mes_ton || 433,\n    concentracion_li: kpis.concentracion_promedio_li || 859\n  },\n  pozos: {\n    activos: kpis.pozos_activos || 5,\n    total: kpis.pozos_total || 7\n  },\n  meteo: {\n    temperatura_c: meteo.temperatura_c,\n    viento_kmh: meteo.velocidad_viento_kmh,\n    evaporacion: meteo.tasa_evaporacion_mm_dia\n  },\n  seguridad: {\n    personal: seguridad.personal_en_sitio || kpis.personal_en_sitio || 234,\n    dias_sin_lti: seguridad.dias_sin_lti || 187\n  },\n  alertas: {\n    total: alertas.length,\n    criticas: alertas.filter(a => a.severidad === 'critica').length,\n    altas: alertas.filter(a => a.severidad === 'alta').length\n  }\n};\n\nconst groqBody = {\n  model: 'llama-3.1-8b-instant',\n  messages: [\n    {\n      role: 'system',\n      content: 'Genera un resumen ejecutivo de turno de 200 palabras en espanol para una operacion de litio en el Salar del Hombre Muerto, Catamarca, Argentina, a 4000 msnm. La planta HMW (Hombre Muerto West) de Galan Lithium incluye 7 pozos de extraccion de salmuera, 6 pozas de evaporacion en 4 etapas, y planta de nanofiltracion. Incluye: produccion, estado de pozos y pozas, alertas relevantes, condiciones meteorologicas, personal, y recomendaciones para el proximo turno. Se conciso, profesional y tecnico.'\n    },\n    {\n      role: 'user',\n      content: 'Genera el resumen ejecutivo del turno con los siguientes datos operativos: ' + JSON.stringify(contexto)\n    }\n  ],\n  temperature: 0.4,\n  max_tokens: 800\n};\n\nreturn [{\n  json: {\n    turno,\n    supervisor,\n    fecha: contexto.fecha,\n    groq_body: groqBody,\n    contexto\n  }\n}];\n"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000005",
      "name": "Preparar contexto LLM",
      "type": "n8n-nodes-base.code",
      "position": [980, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groq_body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000006",
      "name": "Groq LLM - Generar resumen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1220, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst resumenIA = llmResponse.choices[0].message.content;\n\nconst ctx = $('Preparar contexto LLM').first().json;\n\nconst horarios = {\n  manana: '06:00 - 14:00',\n  tarde: '14:00 - 22:00',\n  noche: '22:00 - 06:00'\n};\n\nconst reporte = {\n  turno: ctx.turno,\n  horario: horarios[ctx.turno] || ctx.turno,\n  fecha: ctx.fecha,\n  supervisor: ctx.supervisor,\n  resumen_ia: resumenIA,\n  produccion_ton: ctx.contexto.produccion.produccion_hoy_ton,\n  personal_presente: ctx.contexto.seguridad.personal,\n  alertas_generadas: ctx.contexto.alertas.total,\n  alertas_resueltas: 0,\n  novedades: [],\n  estado: 'borrador',\n  generado_por: 'n8n-groq-llama3.1',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: reporte }];\n"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000007",
      "name": "Formatear reporte",
      "type": "n8n-nodes-base.code",
      "position": [1460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://galan-ops-monitor.vercel.app/api/reportes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000008",
      "name": "Guardar reporte",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1700, 300],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Reporte de turno generado', turno: $json.turno, fecha: $json.fecha, estado: 'borrador' }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000009",
      "name": "Responder webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1940, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook - Cierre de turno": {
      "main": [
        [
          {
            "node": "Datos de produccion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alertas del turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de produccion": {
      "main": [
        [
          {
            "node": "Consolidar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alertas del turno": {
      "main": [
        [
          {
            "node": "Consolidar datos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consolidar datos": {
      "main": [
        [
          {
            "node": "Preparar contexto LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto LLM": {
      "main": [
        [
          {
            "node": "Groq LLM - Generar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM - Generar resumen": {
      "main": [
        [
          {
            "node": "Formatear reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear reporte": {
      "main": [
        [
          {
            "node": "Guardar reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar reporte": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "galan-hmw" },
    { "name": "reportes" },
    { "name": "ia" },
    { "name": "produccion" }
  ],
  "triggerCount": 1,
  "active": false,
  "versionId": "2"
}
